.header {
  padding-top: 40px;
  padding-bottom: 40px;
}

.burgerBtn {
  display: none;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0px;
}

.mobileOverlay {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  box-shadow: 0px 12px 27px 0px rgba(0, 0, 0, 1);
  background: rgba(40, 43, 50, 1);
  padding: 50px 60px 100px;
  transform: translateY(-100%);
  transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 1500;
  pointer-events: none;
}

.mobileOverlayOpen {
  transform: translateY(0);
  pointer-events: auto;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  position: relative;
}

.personalInfo {
  display: flex;
  align-items: center;
  gap: 55px;
}

@media (max-width: 1280px) {
  .personalInfo {
    display: none;
  }
}

@media (max-width: 1280px) {
  .headerContentLogo {
    width: 140px;
    height: 28px;
    object-fit: cover;
  }
}

.personalInfoItem {
  display: flex;
  align-items: center;
  gap: 15px;
  color: rgba(255, 255, 255, 1);
  font-family: 'Muller';
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 3%;
  text-decoration: none;
  transition: color 0.3s ease;
}

@media (max-width: 1280px) {
  .mobileMenuHeader {
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: flex-start;
  }
  .mobileNavLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .mobileNavLink {
    display: flex;
    align-items: center;
    gap: 15px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Muller';
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 3%;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .mobileNavLink:hover {
    color: rgba(246, 144, 32, 1);
  }

  .mobileHeaderBtns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .mobileHeaderBtnsItem {
    color: rgba(255, 255, 255, 1);
    font-family: 'Muller';
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 5%;
    text-transform: uppercase;
    background: none;
    padding: 20px 40px;
    border: 1px solid rgba(57, 60, 67, 1);
    border-radius: 40px;
    transition: all 0.3s ease;
    cursor: pointer;
    width: 205px;
  }

  .mobileHeaderBtnsItem:hover {
    background: white;
    color: black;
    border: 1px solid transparent;
  }

  .burgerBtn {
    display: block;
    width: 20px;
    height: 20px;
    color: rgba(246, 144, 32, 1);
  }

  .burgerCloseBtn {
    display: block;
    width: 20px;
    height: 20px;
    color: rgba(246, 144, 32, 1);
    background: none;
    border: none;
  }
}

.personalInfoItem:hover {
  color: rgba(246, 144, 32, 1);
}

.personalInfoImg {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.07);
}

.personalInfoItemImg {
  color: rgba(96, 101, 113, 1);
}

.headerBtns {
  display: flex;
  align-items: center;
  gap: 25px;
}

@media (max-width: 1280px) {
  .headerBtns {
    display: none;
  }
}

.headerBtnsItem {
  color: rgba(255, 255, 255, 1);
  font-family: 'Muller';
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 5%;
  text-transform: uppercase;
  background: none;
  padding: 20px 40px;
  border: 1px solid rgba(57, 60, 67, 1);
  border-radius: 40px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.headerBtnsItem:hover {
  background: white;
  color: black;
  border: 1px solid transparent;
}

.burgerBtn {
  background: none;
  border: none;
}

.burgerBtn > svg {
  opacity: 0.8;
  color: rgba(246, 144, 32, 1);
}

.burgerBtn > svg:hover {
  opacity: 1;
}
