html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  background: rgba(25, 27, 32, 1);
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 1280px;
  width: 100%;
  padding: 0px 15px;
  margin: 0px auto;
}

@media (max-width: 1280px) {
  .container {
    max-width: 320px;
  }
}

@font-face {
  font-display: swap;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/MullerRegular.woff2') format('woff2');
}

.animate__animated {
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

[data-animate] {
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate__fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.animate__fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(50px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.animate__fadeInRight {
  animation-name: fadeInRight;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.animate__fadeInUp {
  animation-name: fadeInUp;
}
